server:
  port: 8080
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/comma?useSSL=false&allowPublicKeyRetrieval=true&characterEncoding=UTF-8&serverTimezone=UTC
# DockerServer ??
# spring.datasource.url=jdbc:mysql://todayCheckMysql:3306/todaycheck?useSSL=false&allowPublicKeyRetrieval=true&characterEncoding=UTF-8&serverTimezone=UTC
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: password
  profiles:
    include: oauth
  h2:
    console:
      enabled: true
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
  sql:
    init:
      mode: always
      platform: local

#logging
logging:
  level:
    org:
      hibernate:
        sql: debug
        type.descriptor.sql: trace
      springframework.web: debug
    jakarta: debug
